*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
background: url("./images/bg-intro-desktop.png");
background-color: hsl(0, 100%, 74%);
padding: 200px;
font-size: 16px;
display: flex;
flex-wrap: wrap;
}
.left{
flex: 50%;
padding: 20px;
color: white;
text-align: center;
}
.right{
    flex: 50%;
}
.try{
    background: purple;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.table{
    background-color: white;
    text-align: center;
    padding: 30px;

}
.claim{
    background-color: hsl(154, 59%, 51%);
    color: white;
    padding: 10px 30px;
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 5px;
}